.modalRoot {
    position: absolute;
    top: 7%;
    z-index: 100;
    width: 100vw;
    height: 93vh;
    background-color: rgba(1, 1, 1, 0.2);
   
  }
  .modal-content{
    margin-top: 20%;
  }
  .modal-dialog{
    margin-top: 20%;
  }